matplotlib
numpy
numba
librosa
dotsi
inflect
unidecode
tqdm
scipy
webrtcvad
sklearn
umap-learn
pillow
tensorboard
torchaudio
g2p_en
visdom
easydict
pydub
pandas
einops
torch_optimizer
chainer
cupy-cuda111
